<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394744501842-uannt2a833ive0bedi94q2hn7o1rjoiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394744501842-uannt2a833ive0bedi94q2hn7o1rjoiv</string>
	<key>API_KEY</key>
	<string>AIzaSyAFmrrdkFXhzWL2q0gH8nzotHn76qLAaOA</string>
	<key>GCM_SENDER_ID</key>
	<string>394744501842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fluttermet05</string>
	<key>PROJECT_ID</key>
	<string>fluttermet-05</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermet-05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394744501842:ios:dbdf006c8234f8bc86318b</string>
</dict>
</plist>